<div id="contactPage">
    <div class="row">
      <div class="col-xs-12 about-content">
          <img src="../../../assets/images/abhishek.jpg" class="about-img" alt="Abhishek Jha">
          <div class="text-center">
            <h2>About Me</h2>
          </div>
          <hr>
          <div class="add-padding-30">
            <p>Hi folks, I'm Abhishek Jha I have been working as a UI Developer at Persistent Systems. I'm interested in writing, meeting people, reading and learning about new subjects. I have my own website <a href="#" target="_self">Angular2 Guide</a> which takes up most of my time. I always verify against reality things I learn about because I believe that theory not reflected in practice becomes useless and even dangerous.</p>
            <p>I try to inspire people, motivate them and help them grow. I try to serve them with advice and support in developing their strengths in the best possible way.</p>
          </div>
      </div>
        <div class="col-xs-12 col-sm-8 col-md-5 col-lg-5 add-padding-30">
                <form class="form-horizontal" action=" " method="post" id="contact_form">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>GET IN TOUCH</legend>

                        <!-- Text input-->
                        <!-- Success message -->
                        <div class="alert alert-success hidden" role="alert" id="success_message">Success
                            <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.
                        </div>

                        <div class="form-group">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                    <input name="first_name" placeholder="First Name" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                    <input name="last_name" placeholder="Last Name" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-envelope"></i>
                                    </span>
                                    <input name="email" placeholder="E-Mail Address" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <!-- Text area -->

                        <div class="form-group">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </span>
                                    <textarea class="form-control" name="comment" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                                <button type="submit" class="btn btn-warning pull-right">Send
                                    <span class="glyphicon glyphicon-send"></span>
                                </button>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-7 col-lg-7 add-padding-30">
                <div class="pull-right">
                    <h3>Connect With me:</h3>
                    <p>If you would like to give any kind of feedback or suggestion or want to offer any Project,<br> feel free to contact by any of the given way:</p>
                    <p><a href="mailto:jha.abhishek9180@gmail.com?Subject=My%20feedback%20for%20learn-angular2" target="_top">jha.abhishek9180@gmail.com</a><br>
                    +91 9431561469
                    </p>
                    <div class="text-center">
                        <a href="https://www.facebook.com/abhishekjha4" title="Find me on Facebook" target="_blank">Facebook</a> | 
                        <a href="https://plus.google.com/+abhishekjha9" title="Find me on Google" target="_blank">Google</a> | 
                        <a href="https://www.linkedin.com/in/abhishek-jha-a5a40097/" title="Find me on LinkedIn" target="_blank">LinkedIn</a>
                    </div>
                </div>
            </div>
        
    </div>
