<!-- First Photo Grid-->
	<div id="topicLists">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
				<a [routerLink]="['/data-sharing-using-service']">
					<h4>Share Data Across 2 Components Using Service in Angular2</h4>
					<p><b>Services</b> are used to share data between components. They follow a module pattern that allows you to share the
						data throughout your application so that your data is consistent and in sync.</p>
				</a>
			</div>
		</div>

		<!-- Second Photo Grid-->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
				<a [routerLink]="['/angular2-logger']">
					<h4>Sending Log messages to Server using ng2.logger</h4>
					<p><b>Log</b> messages are useful to debug application and know the cause if any error occurs. <b>ng2.logger</b> is a logger
						tool based on log4j to send the log(i.e errors, debug, warning or info) messages to the server.</p>
				</a>
			</div>
		</div>

		<!-- Third Photo Grid-->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
				<a [routerLink]="['/adding-metaInfo-in-angular2']">
					<h4>Adding different Title, meta description and other meta info to different pages in Angular2</h4>
					<p>To Imporve your website ranking in search result your webpage must be optimized, and adding the proper title and meta
						information to it is first step for SEO optimization. So, Lets see how we can do it in angular2</p>
				</a>
			</div>

		</div>

		<!-- Fourth Photo Grid-->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
				<a [routerLink]="['/resolving-404-error-on-page-refresh']">
					<h4>Angular2-routing: 404 error when page is refreshed</h4>
					<p>Angular by default uses HTML5 pushstate (PathLocationStrategy) and uses html5 routing by default rather than using hashes
						at the end of the url, refreshing the page looks like a request for a different resource. As a result we get 404 error.</p>
				</a>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
				<a [routerLink]="['/show-hide-using-ngswitch-angular2']">
					<h4>Show and hide elements using ngSwitch in Angular2</h4>
					<p>ngSwitch can be used to show and hide HTML elements depending upon the switch case. It is very similar to a switch statement
						in javaScript and other languages.</p>
				</a>
			</div>

		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
				<a [routerLink]="['/ngIf-hidden-in-angular2']">
					<h4>Show and hide elements using ngIf and hidden in Angular2</h4>
					<p>ngIf and hidden can be used to show and hide HTML elements depending upon the condition. ngIf is very similar to if
						else statement in javaScript and other languages.</p>
				</a>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
				<a [routerLink]="['/form-validation-in-angular2']">
					<h4>Angular2 Form Validation</h4>
					<p><b>Form validation</b> is required to prevent web form abuse by malicious users. Previously it was done using javaScript/jQuery
						but now Angular make this task a lot easier. Apart form validation it can show <code>error message</code>, prevent
						the user from <code>submitting</code> it.</p>
				</a>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
				<a [routerLink]="['/search-result-highlighter-in-angular2']">
					<h4>Search and Highlight the searched result in Angular2</h4>
					<p>We can Filter the data and <b>Highlight</b> those filtered data in <b>Angular</b> using custom <b>Pipes</b>. Here is
						the detailed explanation of it... </p>
				</a>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
				<a [routerLink]="['/http-get-and-post-in-angular2']">
					<h4>Angular2 Http get() & post() using Observable and Promise</h4>
					<p>The angular <b>Http</b> library is the primary protocol for <b>client/server</b> communication. Here is the detailed
						explanation of it... </p>
				</a>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
				<a [routerLink]="['/show-image-preview']">
					<h4>Show Uploaded Image Preview in Angular2</h4>
					<p>This Post explain about How we can show the preview of Image If the uploads the Image File in Angular2.</p>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
				<a [routerLink]="['/drag-drop-image']">
					<h4>Upload Image using drag &amp; drop in Angular2</h4>
					<p>This Post explain about How we can upload images by drag &amp; drop in Angular.</p>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
				<a [routerLink]="['/show-related-post']">
					<h4>Show Posts related to current page in Angular2</h4>
					<p>This Post explain about How we can show all the post that are related to current post using in Angular2.</p>
				</a>
			</div>
		</div>

		

		<!-- Pagination -->