<div class="row  page-content">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <h3 class="text-center">Drag & Drop Image implementation in Angular2</h3>
        <hr>
                <iframe src="https://uideve-image-drag-drop.stackblitz.io" frameborder="0" width="100%" height="480px"></iframe>
                <p>In the previous post I've explained how we can <a [routerLink]="['/show-image-preview']">Show Uploaded Image Preview in Angular2</a>.
                    So, this post is slightly extension of the previous post where I'll show <b>How we can implement Image Drag & Drop</b>                    feature to our Angular Application</p>
                <p>So let's see how we can do that, in Angular way...</p>

                <hr>

                <h4>HTML Markup to upload the image and display the uploaded Image</h4>

                <pre><code highlight class="html">        
&lt;form&gt;
    &lt;image-uploader [activeColor]="'orangered'" [baseColor]="'lightgray'"&gt;&lt;/image-uploader&gt;
&lt;/form&gt;
                </code></pre>

                <p>Here I've defined a simple HTML form which contains a <b>selector</b> <code>&lt;image-uploader&gt;</code>.The
                    <code>&lt;image-uploader&gt;</code> is an angular selector which I'll define later. Inside the <code>&lt;image-uploader&gt;</code>                    selector I'm passing <code>activeColor = orangered and baseColor = lightgray</code> as the input.</p>

                <pre><code highlight class="html">
&lt;label class="uploader" ondragover="return false;"
    [class.loaded]="loaded" 
    [style.outlineColor]="dragging ? activeColor : baseColor"
    (dragenter)="handleDragEnter()"
    (dragleave)="handleDragLeave()"
    (drop)="handleDrop($event)"&gt;
    
    &lt;i class="icon icon-upload" 
        [style.color]="dragging 
            ? ((imageSrc.length &gt; 0) ? overlayColor : activeColor)
            : ((imageSrc.length &gt; 0) ? overlayColor : baseColor)"&gt;&lt;/i&gt;
    
    &lt;img 
        [src]="imageSrc" 
        (load)="handleImageLoad()" 
        [class.loaded]="imageLoaded"/&gt;
    
    &lt;input type="file" name="file" accept="image/*"
        (change)="handleInputChange($event)"&gt;
&lt;/label&gt;
                    </code></pre>

                <pre><code highlight class="typescript">
@Component(&#123;
    selector: 'image-uploader',
    templateUrl: 'src/image-uploader.component.html',
    styleUrls: ['src/image-uploader.component.css'],
    inputs:['activeColor','baseColor','overlayColor']
&#125;)
export class ImageUploaderComponent &#123;
    
    activeColor: string = 'green';
    baseColor: string = '#ccc';
    overlayColor: string = 'rgba(255,255,255,0.5)';
    
    dragging: boolean = false;
    loaded: boolean = false;
    imageLoaded: boolean = false;
    imageSrc: string = '';
    
    handleDragEnter() &#123;
        this.dragging = true;
    &#125;
    
    handleDragLeave() &#123;
        this.dragging = false;
    &#125;
    
    handleDrop(e) &#123;
        e.preventDefault();
        this.dragging = false;
        this.handleInputChange(e);
    &#125;
    
    handleImageLoad() &#123;
        this.imageLoaded = true;
        this.iconColor = this.overlayColor;
    &#125;

    handleInputChange(e) &#123;
        var file = e.dataTransfer ? e.dataTransfer.files[0] : e.target.files[0];

        var pattern = /image-*/;
        var reader = new FileReader();

        if (!file.type.match(pattern)) &#123;
            alert('invalid format');
            return;
        &#125;

        this.loaded = false;

        reader.onload = this._handleReaderLoaded.bind(this);
        reader.readAsDataURL(file);
    &#125;
    
    _handleReaderLoaded(e) &#123;
        var reader = e.target;
        this.imageSrc = reader.result;
        this.loaded = true;
    &#125;
    
    _setActive() &#123;
        this.borderColor = this.activeColor;
        if (this.imageSrc.length === 0) &#123;
            this.iconColor = this.activeColor;
        &#125;
    &#125;
    
    _setInactive() &#123;
        this.borderColor = this.baseColor;
        if (this.imageSrc.length === 0) &#123;
            this.iconColor = this.baseColor;
        &#125;
    &#125;
    
&#125;
                    </code></pre>

                <p>Here we have specified <code>&lt;input type="file" ..&gt;</code>, Which allow us to upload the file. Whenever
                    there is any change in <b>input</b> the <code>changeListener($event)</code> method will be fired. So,
                    We are going to handle the upload event inside <code>changeListener($event)</code> method.

                    <p>So, In the above code snippet the line <code>if (event.target.files && event.target.files[0])</code>                        is used for checking <b>Whether the target of event is file or not and Whether it contains file of not</b>.
                        Then we are using <code>FileReader</code> class of javaScript to read the content of file.</p>
                    <p>Here I have used two methods of <code>FileReader</code> class i.e <code>onload() and readAsDataURL()</code>.
                        </p>
                    <ul>
                        <li><b>FileReader.onload() :</b> A handler for the load event. This event is triggered each time the
                            reading operation is successfully completed.</li>
                        <li><b>FileReader.readAsDataURL() :</b> Starts reading the contents of the specified Blob, once finished,
                            the result attribute contains a data: URL representing the file's data.</li>
                    </ul>
                    <p>So Inside <code>FileReader.onload()</code> method we are basically assigning the <b>URL</b> of target
                        event file and then using <code>readAsDataURL()</code> we are reading the content of target file.
                        See the Compete example below.</p>

                    <h4>Compete Example</h4>
                    <h5>src/app.ts</h5>
                    <pre><code highlight class="typescript">
import &#123;Component, NgModule, VERSION&#125; from '@angular/core'
import &#123;BrowserModule&#125; from '@angular/platform-browser'
import &#123;ImageUploaderComponent&#125; from './image-uploader.component'

@Component(&#123;
  selector: 'my-app',
  template: `
    &lt;form&gt;
        &lt;image-uploader [activeColor]="'orangered'" [baseColor]="'lightgray'"&gt;&lt;/image-uploader&gt;
    &lt;/form&gt;
  `,
  directives: [ImageUploaderComponent]
&#125;)
export class App &#123;
 
&#125;

@NgModule(&#123;
  imports: [ BrowserModule ],
  declarations: [ App, ImageUploaderComponent ],
  bootstrap: [ App ]
&#125;)
export class AppModule &#123;&#125;
                </code></pre>

                    <h5>src/image-uploader.component.ts</h5>
                    <pre><code highlight class="typescript">
import &#123;Component&#125; from '@angular/core'

@Component(&#123;
    selector: 'image-uploader',
    templateUrl: 'src/image-uploader.component.html',
    styleUrls: ['src/image-uploader.component.css'],
    inputs:['activeColor','baseColor','overlayColor']
&#125;)
export class ImageUploaderComponent &#123;
    
    activeColor: string = 'green';
    baseColor: string = '#ccc';
    overlayColor: string = 'rgba(255,255,255,0.5)';
    
    dragging: boolean = false;
    loaded: boolean = false;
    imageLoaded: boolean = false;
    imageSrc: string = '';
    
    handleDragEnter() &#123;
        this.dragging = true;
    &#125;
    
    handleDragLeave() &#123;
        this.dragging = false;
    &#125;
    
    handleDrop(e) &#123;
        e.preventDefault();
        this.dragging = false;
        this.handleInputChange(e);
    &#125;
    
    handleImageLoad() &#123;
        this.imageLoaded = true;
        this.iconColor = this.overlayColor;
    &#125;

    handleInputChange(e) &#123;
        var file = e.dataTransfer ? e.dataTransfer.files[0] : e.target.files[0];

        var pattern = /image-*/;
        var reader = new FileReader();

        if (!file.type.match(pattern)) &#123;
            alert('invalid format');
            return;
        &#125;

        this.loaded = false;

        reader.onload = this._handleReaderLoaded.bind(this);
        reader.readAsDataURL(file);
    &#125;
    
    _handleReaderLoaded(e) &#123;
        var reader = e.target;
        this.imageSrc = reader.result;
        this.loaded = true;
    &#125;
    
    _setActive() &#123;
        this.borderColor = this.activeColor;
        if (this.imageSrc.length === 0) &#123;
            this.iconColor = this.activeColor;
        &#125;
    &#125;
    
    _setInactive() &#123;
        this.borderColor = this.baseColor;
        if (this.imageSrc.length === 0) &#123;
            this.iconColor = this.baseColor;
        &#125;
    &#125;
    
&#125;
                </code></pre>
                    <p>See the working demo on <a href="https://stackblitz.com/edit/uideve-image-drag-drop?embed=1&file=src/index.html" target="_blank" title="Uploaded Image Preview Angular2">Stackblitz</a>.</p>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="reference">
                            <span>References: </span>
                            <span><a href="https://developer.mozilla.org/en/docs/Web/API/FileReader" target="_blank" title="Javascript FileReader">Javascript FileReader</a></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                            <div class="related_post_header">Related Posts</div>
                            <related-post [showRelatedPostImage]="showRelatedPostImage" [relatedPostMatchPercentage]="relatedPostMatchPercentage" [relatedPostCount]="relatedPostCount"></related-post>           
                    </div>
                </div>
    </div>
</div>
